.q{
    color: blue;
}
.w{
    text-align: right;
    letter-spacing :2px;
    word-spacing: 8px;
}
.r{
    color: rgb(73, 72, 73)    ;
}
.y{
    text-align: right;
}
.u{
    color: royalblue;
}
.d{
    color: lightslategrey;
}
.f{
    color: darkturquoise;
    text-align: center;
}
.j{
    color: cadetblue;
}
.z{
    color: royalblue;
}
.v{
    color: royalblue;
}
.n{
    color: darkcyan;
    text-align: center  ;
}
.qe{
    color: rgb(163, 182, 175);
}
.qy{
    color: rgb(163, 182, 175);
}
.qo{
    text-align: center;
}
.as{
    color: cadetblue;
}
.ah{
    color: cadetblue;
}